.searchBtn {
  width: 10vw;
  min-width: 80px;
  height: 5vh;
  margin: 0 2vw;
  border-radius: 5px;
  font-size: 2vmin;
  background: white;
  border: 3px solid green;
  cursor: pointer;
}

.searchBtn.disabled {
  cursor: not-allowed;
}

.searchBtn:hover {
  transform: scale(1.1);
}